In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

Load the first excel file into a dataframe after stripping away the header records

In [3]:
dl1c_df = pd.read_excel("dl1c.xls",index_col=0,skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12])

In [4]:
dl1c_df.shape

(54, 12)

Assign meaningful column names to the dataframe

In [5]:
dl1c_cols = ['male_drivers',"percnt_male_of_tot",'female_drivers','percnt_female_of_tot','tot_drivers',
             'ratio_lic_drivers_to_reg_veh','tot_resident',"male_16+","female_16+","tot_16+",
             'drivers_per_1k_tot_resident','drivers_per_1k_driving_age']

In [6]:
dl1c_df.columns = dl1c_cols

In [7]:
dl1c_df.head()

,male_drivers,percnt_male_of_tot,female_drivers,percnt_female_of_tot,tot_drivers,ratio_lic_drivers_to_reg_veh,tot_resident,male_16+,female_16+,tot_16+,drivers_per_1k_tot_resident,drivers_per_1k_driving_age
Alabama,1887023.0,48.62,1994519.0,51.38,3881542.0,0.729488,4849377,1850520.0,2018569.0,3869089.0,800.420755,1003.218587
Alaska 2/,250745.0,47.16,280999.0,52.84,531744.0,0.677566,736732,301326.0,268918.0,570244.0,721.760423,932.485041
Arizona,2453665.0,50.26,2428136.0,49.74,4881801.0,0.884340,6731484,2609768.0,2681353.0,5291121.0,725.219134,922.640212
Arkansas,1038874.0,49.19,1072999.0,50.81,2111873.0,0.773777,2966369,1136553.0,1202216.0,2338769.0,711.938737,902.984861
California,12562214.0,50.63,12251132.0,49.37,24813346.0,0.887987,38802500,15129276.0,15565575.0,30694851.0,639.478023,808.387895

Strip the digits, forward slashes and whitespaces from the index names

In [8]:
dl1c_df.index = dl1c_df.index.str.replace('\d+','').str.rstrip('\/').str.strip()

In [9]:
dl1c_df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Dist. of Col.', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Total',
       '/  Include restricted drivers and graduated driver licenses.',
       '/  Age and/or sex segregation estimated by FHWA.'],
      dtype='object')

Delete unnecessary footer rows from the bottom of the dataframe

In [10]:
dl1c_df = dl1c_df.iloc[:-3,:]

In [11]:
dl1c_df.tail()

,male_drivers,percnt_male_of_tot,female_drivers,percnt_female_of_tot,tot_drivers,ratio_lic_drivers_to_reg_veh,tot_resident,male_16+,female_16+,tot_16+,drivers_per_1k_tot_resident,drivers_per_1k_driving_age
Virginia,2.809780e+06,48.70,2.959283e+06,51.30,5.769063e+06,0.821550,8326289,3247094.0,3418338.0,6665432.0,692.873260,865.519744
Washington,2.790748e+06,51.67,2.610391e+06,48.33,5.401139e+06,0.854013,7061530,2802234.0,2836195.0,5638429.0,764.868095,957.915583
West Virginia,5.820466e+05,49.67,5.898602e+05,50.33,1.171907e+06,0.776182,1850326,741935.0,771897.0,1513832.0,633.351499,774.132629
Wisconsin,2.096238e+06,50.05,2.091956e+06,49.95,4.188194e+06,0.796763,5757564,2271230.0,2336067.0,4607297.0,727.424654,909.034950
Wyoming,2.174810e+05,51.29,2.065060e+05,48.71,4.239870e+05,0.520003,584153,235007.0,225992.0,460999.0,725.814983,919.713492

In [12]:
dl1c_df.shape

(51, 12)

Examine the shape,data types and check for nulls in the dataframe

In [13]:
dl1c_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 12 columns):
male_drivers                    51 non-null float64
percnt_male_of_tot              51 non-null float64
female_drivers                  51 non-null float64
percnt_female_of_tot            51 non-null float64
tot_drivers                     51 non-null float64
ratio_lic_drivers_to_reg_veh    51 non-null float64
tot_resident                    51 non-null object
male_16+                        51 non-null float64
female_16+                      51 non-null float64
tot_16+                         51 non-null float64
drivers_per_1k_tot_resident     51 non-null float64
drivers_per_1k_driving_age      51 non-null float64
dtypes: float64(11), object(1)
memory usage: 5.2+ KB

Convert the object columns to numeric data types

In [14]:
dl1c_df = dl1c_df.apply(pd.to_numeric, errors='coerce')

In [15]:
dl1c_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 12 columns):
male_drivers                    51 non-null float64
percnt_male_of_tot              51 non-null float64
female_drivers                  51 non-null float64
percnt_female_of_tot            51 non-null float64
tot_drivers                     51 non-null float64
ratio_lic_drivers_to_reg_veh    51 non-null float64
tot_resident                    51 non-null int64
male_16+                        51 non-null float64
female_16+                      51 non-null float64
tot_16+                         51 non-null float64
drivers_per_1k_tot_resident     51 non-null float64
drivers_per_1k_driving_age      51 non-null float64
dtypes: float64(11), int64(1)
memory usage: 5.2+ KB

Load the dl22 excel into a dataframe after stripping away the header rows

In [16]:
dl22_df = pd.read_excel("dl22.xls",index_col=0,skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12])

In [17]:
dl22_df.shape

(52, 30)

In [18]:
dl22_df.columns

Index([      'UNDER',       '20-24',       '25-29',       '30-34',
             '35-39',       '40-44',       '45-49',       '50-54',
             '55-59',       '60-64',       '65-69',          '2/',
              '2/.1',        '2/.2',    'OVER  2/',       'TOTAL',
       'Unnamed: 17',     'STATE.1',         '<16',            16,
                  17,            18,            19,            20,
                  21,            22,            23,            24,
       'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

Rename the garbled column names into meaningful names

In [19]:
dl22_df.rename({'UNDER':'19_and_under','2/':'70-74','2/.1':'75-79','2/.2':'80-84','OVER  2/':'85_over',
                'TOTAL':'total'},axis='columns',inplace=True)

In [20]:
dl22_df.columns

Index(['19_and_under',        '20-24',        '25-29',        '30-34',
              '35-39',        '40-44',        '45-49',        '50-54',
              '55-59',        '60-64',        '65-69',        '70-74',
              '75-79',        '80-84',      '85_over',        'total',
        'Unnamed: 17',      'STATE.1',          '<16',             16,
                   17,             18,             19,             20,
                   21,             22,             23,             24,
        'Unnamed: 29',  'Unnamed: 30'],
      dtype='object')

Delete duplicate "State" and empty columns from the dataframe

In [21]:
dl22_df.drop(columns=['Unnamed: 17','STATE.1','Unnamed: 29','Unnamed: 30'],inplace=True)

In [22]:
dl22_df.shape

(52, 26)

In [23]:
dl22_df.tail()

,19_and_under,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,...,<16,16,17,18,19,20,21,22,23,24
STATE,,,,,,,,,,,,,,,,,,,,,
Washington,103273,2.239880e+05,264237,284991,260997,254826,242804,255186,244773,214939,...,0,14494,22699,30080,36000,39629,41387,45385,47051,5.053600e+04
West Virginia,27990,3.415259e+04,38262,39021,41739,47022,47678,51894,57043,56931,...,0,8291,5846,6695,7158,6524,6762,7007,7031,6.828590e+03
Wisconsin,95403,1.647160e+05,173691,175892,158187,165863,183820,209474,197036,169019,...,0,17026,23829,26800,27748,29987,31318,33172,34965,3.527400e+04
Wyoming,11158,1.777800e+04,19741,19979,17319,16542,15788,18757,21048,19284,...,0,2205,2602,3101,3250,3379,3190,3567,3743,3.899000e+03
Total,4336080,8.918105e+06,9323670,9232528,8665981,9113887,9420844,10197935,9730998,8383497,...,31338,509455,951106,1303928,1540253,1651997,1708785,1794102,1855994,1.907227e+06

Examine dataframe and delete last row

In [24]:
dl22_df = dl22_df.iloc[:-1,:]

In [25]:
dl22_df.shape

(51, 26)

In [26]:
dl22_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 26 columns):
19_and_under    51 non-null int64
20-24           51 non-null float64
25-29           51 non-null int64
30-34           51 non-null int64
35-39           51 non-null int64
40-44           51 non-null int64
45-49           51 non-null int64
50-54           51 non-null int64
55-59           51 non-null int64
60-64           51 non-null int64
65-69           51 non-null int64
70-74           51 non-null int64
75-79           51 non-null int64
80-84           51 non-null int64
85_over         51 non-null int64
total           51 non-null float64
<16             51 non-null int64
16              51 non-null int64
17              51 non-null int64
18              51 non-null int64
19              51 non-null int64
20              51 non-null int64
21              51 non-null int64
22              51 non-null int64
23              51 non-null int64
24              51 non-null float64
dtypes: float64(3), int64(23)
memory usage: 10.8+ KB

In [27]:
dl22_df.index

Index(['Alabama', 'Alaska 2/', 'Arizona ', 'Arkansas ', 'California ',
       'Colorado 2/', 'Connecticut', 'Delaware', 'Dist. of Col. ', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois 2/', 'Indiana  ', 'Iowa',
       'Kansas', 'Kentucky ', 'Louisiana', 'Maine ', 'Maryland',
       'Massachusetts 3/', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri ',
       'Montana', 'Nebraska', 'Nevada ', 'New Hampshire', 'New Jersey  ',
       'New Mexico  ', 'New York ', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina ',
       'South Dakota', 'Tennessee ', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='STATE')

Sanitize index names by removing digits, forward slashes and whitespaces

In [28]:
dl22_df.index = dl22_df.index.str.replace('\d+','').str.rstrip('\/').str.strip()

Compare indexes in both the dataframes

In [29]:
dl22_df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Dist. of Col.', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='STATE')

In [30]:
dl1c_df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Dist. of Col.', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

Perform the join using top level pandas function using left and right index

In [31]:
dl_df = pd.merge(dl1c_df, dl22_df,left_index=True,right_index=True)

In [32]:
dl_df.columns

Index([                'male_drivers',           'percnt_male_of_tot',
                     'female_drivers',         'percnt_female_of_tot',
                        'tot_drivers', 'ratio_lic_drivers_to_reg_veh',
                       'tot_resident',                     'male_16+',
                         'female_16+',                      'tot_16+',
        'drivers_per_1k_tot_resident',   'drivers_per_1k_driving_age',
                       '19_and_under',                        '20-24',
                              '25-29',                        '30-34',
                              '35-39',                        '40-44',
                              '45-49',                        '50-54',
                              '55-59',                        '60-64',
                              '65-69',                        '70-74',
                              '75-79',                        '80-84',
                            '85_over',                        'total',
                                '<16',                             16,
                                   17,                             18,
                                   19,                             20,
                                   21,                             22,
                                   23,                             24],
      dtype='object')

Confirm that the final dataframe has the all the correct information after the join

In [33]:
dl_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 38 columns):
male_drivers                    51 non-null float64
percnt_male_of_tot              51 non-null float64
female_drivers                  51 non-null float64
percnt_female_of_tot            51 non-null float64
tot_drivers                     51 non-null float64
ratio_lic_drivers_to_reg_veh    51 non-null float64
tot_resident                    51 non-null int64
male_16+                        51 non-null float64
female_16+                      51 non-null float64
tot_16+                         51 non-null float64
drivers_per_1k_tot_resident     51 non-null float64
drivers_per_1k_driving_age      51 non-null float64
19_and_under                    51 non-null int64
20-24                           51 non-null float64
25-29                           51 non-null int64
30-34                           51 non-null int64
35-39                           51 non-null int64
40-44                           51 non-null int64
45-49                           51 non-null int64
50-54                           51 non-null int64
55-59                           51 non-null int64
60-64                           51 non-null int64
65-69                           51 non-null int64
70-74                           51 non-null int64
75-79                           51 non-null int64
80-84                           51 non-null int64
85_over                         51 non-null int64
total                           51 non-null float64
<16                             51 non-null int64
16                              51 non-null int64
17                              51 non-null int64
18                              51 non-null int64
19                              51 non-null int64
20                              51 non-null int64
21                              51 non-null int64
22                              51 non-null int64
23                              51 non-null int64
24                              51 non-null float64
dtypes: float64(14), int64(24)
memory usage: 18.0+ KB

Confirm to make sure that the shape of the two dataframes and the final dataframe add up.

In [34]:
print(dl1c_df.shape)
print(dl22_df.shape)
print(dl_df.shape)

(51, 12)
(51, 26)
(51, 38)

In [35]:
dl_df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Dist. of Col.', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

Send the final dataframe to a csv file, load the csv in Excel and take a screenshot for the final deliverable

In [37]:
dl_df.to_csv("dl_df.csv")